/*Page*/
@media (min-width: 1366px) {
}

@media (max-width: 600px) {
    .videoOverlayText {
        font-size: 28px;
    }
    .section{
        min-height: 200px;
    }
    footer{
        text-align: center;
    }
}

@media (max-width: 480px){
    .imageOverlay{
        display:block;
    }
}